Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect all requests to index.html except for files or directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
